PROJECT_NAME=credit-risk-portfolio-optimization
ENVIRONMENT=dev
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=credit_default_risk
API_HOST=0.0.0.0
API_PORT=8000
DATA_DIR=./data
FEATURES_VERSION=v0
MODEL_NAME=credit_default_model
MODEL_STAGE=Staging
